<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= t('page', page: params[:page] || 1) %></h2>
    <% if current_user %>
            <%= render partial: 'words/sections', locals: { path: new_adjective_path } %>
    <% end %>

  </header>

  <%= render 'words/list' %>
</article>
