<% passage_count = @generator.rand(5) + 1%>
<article>
  <div class="content-wrapper">
    <h1>Пример текста.</h1>

    <p>
      Используется самый простой алгоритм «в лоб».
      Обновите страницу для получения нового текста.
    </p>
    <figure class="sample">
      <blockquote>
        <h2><%= Schizophasia::Sentence.new(@generator) %></h2>

        <% passage_count.times do %>
          <p>
            <% (@generator.rand(10) + 1).times do %>
              <%= Schizophasia::Sentence.new(@generator) %>.
            <% end %>
          </p>
        <% end %>
      </blockquote>
      <figcaption class="seed">
        Seed: <%= @generator.seed %>
      </figcaption>
    </figure>

  </div>
</article>