<% content_for :title, t('.title', dream: @dream.name) %>

<article>
  <h1><%= link_to t('.header'), dreambook_path %></h1>
  <h2><%= @dream.name %></h2>
  <div><%= simple_format @dream.interpretation %></div>

  <p><%= link_to 'А можно понятнее?', "http://sovia.ru/dreambook/search?query=#{@dream.name}&utm_source=inglip" %></p>
</article>