/** */
body {
    padding: 1em;
    font-family: "Palatino Linotype", "Antiqua", Serif;
    background: url('/images/gropaga.png') fixed bottom right no-repeat;
}

h1 {
    margin: 1em 0 0 1em;
    padding: 0;
    text-indent: 0;
}

h2 {
    margin: 0 0 0 1.3em;
    padding: 0;
    text-indent: 0;
}

h3 {
    margin: 0.5em 0 0 1.5em;
    padding: 0;
    text-indent: 0;
}

.message {
    width: 640px;
}

.message p {
    text-indent: 2em;
    margin: 0;
}

#claim-box {
    width: 312px;
    height: 123px;
    background: url('/images/captcha_back.png') center no-repeat;
    margin: 0.5em auto;
}

#claim-image {
    margin: 6px 0 0 6px;
}

#claim-reloader {
    margin: 3px 0 0 186px;
    width: 19px;
    height: 13px;
    background: url('/images/reload.png') center no-repeat;
    cursor: pointer;
}

.ver {
    font-size: 0.7em;
    color: #999999;
}

.notice {
    color: #777777;
    font-size: 0.9em;
}

.cnt {
    text-align: center;
}

.social-block {
    margin: 2em;
}

img {
    border: none;
}

p.first {
    margin: 0.7em 0 0 0;
}

.recaptcha {
    width: 312px;
    margin: 0.5em auto;
}

dl.codes {
    border-top: dotted 1px;
    border-bottom: dotted 1px;
    margin: 1.3em 0 0 0;
    padding: 0 1em 0.2em 0.9em;
}

dl.codes dt {
    font-size: 0.8em;
}

dl.codes dd {
    margin: 0 0 0 1em;
    padding: 0;
}

input, textarea {
    width: 100%;
    font-size: 0.7em;
    font-family: "Courier New", monotype;
}

dl.terms {
    border-left: solid 1px #ffaaaa;
    margin: 0 1em 0 2em;
    padding: 0 1em;
}

dl.terms dt {
    font-size: 1.1em;
    font-style: italic;
}

dl.terms dd {
    margin: 0 0 0 1.5em;
    padding: 0;
}

.fl {
    float: left;
    width: auto;
}