<%
  seed = params.key?(:seed) ? params[:seed].to_i : nil
  generator = seed.nil? ? Random.new : Random.new(seed)
  passage_count = generator.rand(5) + 1
%>
<article class="frontpage">
  <div class="content-wrapper">
    <% passage_count.times do %>
      <p>
        <% generator.rand(10).times do %>
          <%= Schizophasia::Sentence.new(generator) %>.
        <% end %>
      </p>
    <% end %>
    <hr />
    <p><%= generator.seed %></p>
  </div>
</article>
