<%
  seed = params.key?(:seed) ? params[:seed].to_i : nil
  generator = seed.nil? ? Random.new : Random.new(seed)
%>
<p>
  <% 10.times do %>
    <%= Schizophasia::Sentence.new(generator) %>.
  <% end %>
</p>
<p><%= generator.seed %></p>
