<article class="frontpage">
  <div class="content-wrapper">
    <h1>Инглип снова вызван</h1>
    <p>Генератор уникальных текстов. Версия 3.0.0-preview.</p>
    <p>В словаре <%= t(:lexeme_count, count: Lexeme.count) %>.</p>

    <%= render 'widgets/captcha' %>

    <p><%= link_to('Пример текста', sample_text_path) %></p>
  </div>
</article>
