<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>
<% content_for :footer do %>
    <div class="metrics"><%= render 'common/metrics' if Rails.env.production? %></div>
    <div class="sharing"><%= render 'common/sharing' if Rails.env.production? %></div>
<% end %>

<article>
  <h1>Сообщения из потустороннего мира.</h1>
  <p>Многие воспринимают каптчу как просто проверку на то, человек совершает
    действия или бот. На многих каптчах информация кажется совершенно не имеющией
    смысла, но если приглядеться…</p>
  <p>Если приглядеться, она оказывается полна смысла и зачастую особой мудрости.
    Как будто некто «с той стороны» хочет что-то сказать, но глупые слепцы даже
    не пытаются понять.</p>
  <p>Числа — это на самом деле не просто числа. Буквы — это не просто буквы.
    Слова складываются в послания. Это <%= link_to 'тёмный лорд Инглип', about_path %> изъявляет свою волю:</p>
  <div class="captcha"><%= image_tag captcha_path, width: 312, height: 123, alt: 'captcha' %></div>

  <h1>Инглип снова вызван.</h1>
  <p>После длительной паузы проект «inglip.ru» снова
    <a href="https://github.com/ozgg/Inglip-ru" title="inglip-ru on GitHub" rel="external">взят в разработку</a>
    и будет поддерживаться и идти в новом направлении. Старая капча отключена до дальнейшего особого распоряжения.</p>
</article>
