<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info"><%= entity.slug %></div>
  <div class="secondary info">
    <%= t(:lexeme_count, count: entity.lexemes_count) %>
  </div>
  <div class="entity-actions">
    <%= create_icon(new_lexeme_admin_lexeme_type_path(id: entity.slug)) %>
  </div>
</div>
