<div class="data">
  <div><%= admin_lexeme_type_link(entity) %></div>
  <div class="info"><%= entity.slug %></div>
  <div class="secondary info">
    <%= t(:lexeme_count, count: entity.lexemes_count) %>
  </div>
</div>
