<div class="data">
  <div><%= admin_lexeme_type_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <div class="secondary info">
    <%= t(:lexeme_count, count: entity.lexemes_count) %>
  </div>

  <ul class="actions">
    <li>
      <%=
        create_icon(
            new_lexeme_admin_lexeme_type_path(id: entity.slug),
            t('admin.lexeme_types.new_lexeme.nav_text')
        )
      %>
    </li>
  </ul>
</div>
