<li><%= render 'admin/corpora/nav_item' %></li>
<li><%= render 'admin/corpus_texts/nav_item' %></li>
<li><%= render 'admin/sentence_patterns/nav_item' %></li>
<li><%= render 'admin/pending_words/nav_item' %></li>
