<aside class="widget-captcha js-captcha" data-url="<%= sample_bidding_path %>">
  <div class="container">
    <div class="bidding"><%= Samplers::Bidding.new %></div>
    <button type="button"></button>
  </div>
</aside>
