<% options ||= {} %>
<ul class="flags">
  <% flags.each do |flag| %>
    <% flag_options = options[flag.to_s].to_h %>
    <li>
      <% element_id = "lexeme_data_#{flag}" %>
      <%= hidden_field_tag("lexeme_data[#{flag}]", "", id: nil) %>
      <%=
        check_box_tag(
            "lexeme_data[#{flag}]",
            '1',
            handler.lexeme.flag?(flag),
            data: { flag: flag }.merge(flag_options),
            id: element_id
        )
      %>
      <%= label_tag element_id, t("lexeme.data.#{flag}") %>
    </li>
  <% end %>
</ul>
