<div>
  <dt><%= t("wordform.flags.#{key}") %></dt>
  <dd>
    <%=
      text_field_tag(
          "wordforms[#{flag}]",
          handler.wordform(flag)&.text,
          class: 'input-text',
          placeholder: flag,
          title: flag
      )
    %>
  </dd>
</div>
