php_flag register_globals off
php_flag magic_quotes_gpc off

Options -Indexes

AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
</IfModule>