.wordforms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  grid-gap: .4rem;
  margin: var(--spacer-s) 0;

  .group {
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .5);
    padding: var(--spacer-s);
  }

  .header {
    font-family: $font-family-heading;
    font-size: var(--font-size-increased);
    font-weight: 500;
    margin-bottom: var(--spacer-s);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 0 var(--spacer-xs);
    padding: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input {
    width: 100%;
  }
}
