<% content_for :title, @post.title %>
<% content_for :description, t('.description', title: @post.title) %>
<% content_for :footer do %>
    <div class="metrics"><%= render 'common/metrics' if Rails.env.production? %></div>
<% end %>

<nav>
  <p><%= link_to t('to_list'), posts_path %></p>
</nav>

<%= render @post %>