/*
 *= require_tree .
 *= require_self
 */

html {
  font-family: "Georgia", serif;
  background: #ffffff image_url('raisins.png') no-repeat fixed bottom right;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1100px;

  > header {
    text-align: center;
  }

  > footer {
    border-top: dotted 1px;
    padding: 0.5em 1em;
    font-size: 0.9em;

    .copyright {
      color: #777777;
    }
  }
}

img {
  border: none;
}

article {
  padding: 1em;
  max-width: 640px;

  h1 {
    font-size: 1.7em;
    margin: 0;
  }

  h2 {
    font-size: 1.5em;
    margin: 0.5em 0 0 0;
  }

  h3 {
    font-size: 1.3em;
    margin: 0.5em 0 0 0;
  }

  p {
    margin: 0.5em 0;
    text-indent: 2em;
  }
}

aside {
  color: #777777;
  font-size: 0.9em;
}

figure {
  a {
    img {
      cursor: zoom-in;
    }
  }

  figcaption {
    font-size: 0.9em;
    font-style: italic;
  }
}

div#notice {
  border: solid #478043 2px;
  border-radius: 0.5em;
  background: #e0ffd8;
  color: #002000;
  font-weight: bold;
  text-align: center;
  margin: 16px 316px 16px 32px;
  padding: 0.5em;
}
