dl.terms {
  border-left: solid 1px #ffaaaa;
  margin: 0 1em 0 2em;
  padding: 0 1em;

  dt {
    font-size: 1.1em;
    font-style: italic;
  }

  dd {
    margin: 0 0 0 1.5em;
    padding: 0;
  }
}

div.captcha {
  text-align: center;
}