<div class="data">
  <div><%= admin_lexeme_link(entity) %></div>
  <div class="info">
    <%= entity.lexeme_type.name %>
  </div>
  <div class="secondary info">
    <%= entity.context %>
  </div>
  <div class="secondary info">
    <%= t(:wordform_count, count: entity.wordforms_count) %>
  </div>
</div>
