<dl class="fields">
  <% enums.each do |part, list| %>
    <div>
      <dt><%= t("lexeme.data.#{part}") %></dt>
      <dd>
        <% list.each do |value, key| %>
          <% next unless handler.lexeme.data[part.to_s].to_i == value %>
          <%= t("lexeme.data.enums.#{part}.#{key}") %>
        <% end %>
      </dd>
    </div>
  <% end %>
</dl>
