<%
  handler = Biovision::Components::Words::LexemeHandler[entity]
  flags = Biovision::Components::Words::NounHandler.lexeme_data_flags
  enums = Biovision::Components::Words::NounHandler.lexeme_data_enum
%>

<section class="lexeme-data">
  <h2><%= t('lexemes.form.lexeme_data') %></h2>

  <%=
    render(
        partial: 'admin/lexemes/entity/lexeme_flags',
        locals: { handler: handler, flags: flags }
    )
  %>

  <%=
    render(
        partial: 'admin/lexemes/entity/lexeme_enums',
        locals: { handler: handler, enums: enums }
    )
  %>
</section>

<%=
  render(
      partial: 'admin/lexemes/entity/noun/wordforms',
      locals: { handler: handler }
  )
%>
