<%
  degrees = %i[degree_comparative degree_superlative]
%>
<% if handler.flag?(:qualitative) %>
  <div class="wordforms">
    <div class="group">
      <div class="header">
        <%= t('lexemes.forms.adverb.qualitative_forms') %>
      </div>
      <dl>
        <% degrees.each do |degree_flag_name| %>
          <% flag_value = LexemeHandler.wordform_flag(degree_flag_name) %>
          <dt><%= t("wordform_flags.#{degree_flag_name}") %></dt>
          <dd><%= handler.wordform(flag_value) %></dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>