<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_lexeme_groups_path) %></li>
  </ul>
</article>
