<iframe src="http://www.facebook.com/plugins/like.php?href=<%= u request.original_url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
<div id="vk_like"></div>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?22"></script>
<script type="text/javascript">//<![CDATA[
    VK.init({apiId: 2161904, onlyWidgets: true});
    VK.Widgets.Like("vk_like", {type: "button", verb: 1});
//]]></script>
