.widget-captcha {
  .container {
    background: image_url('captcha.png') no-repeat center / contain;
    height: 12.3rem;
    width: 31.2rem;
  }

  .bidding {
    align-items: center;
    //background: rgba(127, 0, 0, .5);
    display: flex;
    font-family: serif;
    height: 50%;
    justify-content: center;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    height: 50%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
