//* { outline: solid pink 1px }

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font: 300 10px var(--font-family-main);
}

body {
  font-size: var(--font-size-normal);
  min-width: var(--content-width-min);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 500;
}

.content-wrapper {
  margin: 0 auto;
  max-width: var(--content-width);
}

.seed {
  color: var(--text-color-secondary);
  font-size: var(--font-size-small);
}

.sample {
  box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .5);
  margin: var(--spacer-m) 0;
  max-width: 72rem;

  blockquote {
    background: #f7f7f7;
    border-left: .2rem solid var(--text-color-secondary);
    margin: 0;
    padding: var(--spacer-s);
  }

  h2 {
    margin-top: 0;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  figcaption {
    padding: var(--spacer-xs);
  }
}

@import "application/layout/header";
@import "application/layout/footer";
@import "widgets/captcha";
@import "application/forms";
