*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font: 300 10px var(--font-family-main);
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  font-size: var(--font-size-normal);
  margin: 0;
  min-width: var(--content-width-min);
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 700;
}

@import "application/layout/header";
@import "application/layout/footer";
